{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container-fluid landing-page-container m-0">
    <div class="row ">
        <div class="col-12 p-0">
            <video playsinline autoplay muted loop poster="{{ MEDIA_URL }}poster.png" id="bgvid">
                <source src="{{ MEDIA_URL }}main-video.mp4" type="video/mp4">
            </video>
            </div>
        </div>
    </div>
</div>
<!-- About section -->
<div class="container py-5 about-section">
    <div class="row">
        <div class="col-12">
        <h2 class="text-center">About us</h2>
        <p class="text-center">Nothing on Earth offers trend-led dresses that are unique and fresh. We encourage you to have total freedom to experiment and express yourself through our collections. We aim to release a new collection every 8 weeks, with timeless pieces you will treasure forever. Each time we release a new collection, we will offer a mystery sale item that will be half the original price.</p>            
        </div>
    </div>
</div>

<!--Product image showcase-->
<div class="container py-5 t-center">
    <div class="row">
    {% for product in products %}
    {% if forloop.counter|divisibleby:6 %}
        <div class="col-sm-6 col-md-12 col-lg-4 mb-5">
            <div class="product-main-container h-100 border-0">
                {% if product.image %}
                <div id="carouselExampleControls_{{product.id}}" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                        <a href="{% url 'products' %}">
                        <img class="card-img img-fluid d-blck w-100" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        </div>
                        <div class="carousel-item">
                        <a href="{% url 'products' %}">
                        <img class="card-img img-fluid d-blck w-100" src="{{ product.image2.url }}" alt="{{ product.name }}">
                        </a>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls_{{product.id}}" data-slide="prev">                     
                        <span class="sr-only">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-target="#carouselExampleControls_{{product.id}}" data-slide="next">
                        <span class="sr-only">Next</span>
                    </button>
                    </div>
                {% else %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% endfor %}
    </div>
</div>

<!-- Image showcase -->
<div class="container mb-5 collage-container">
    <div class="row">
        <div class="col-12 text-center pb-5">
            <p class="landing-collage-text">Tag us in your new dress &#64;nothingonearth
            </p>
        </div>
        <div class="col-lg-4 col-md-12 mb-4">
          <img src="{{ MEDIA_URL }}image4.webp" class="img-fluid mb-3" alt="dress image 4">
          <img src="{{ MEDIA_URL }}image3.webp" class="img-fluid mb-3" alt="dress image 3">
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <img src="{{ MEDIA_URL }}image1.webp" class="img-fluid mb-3" alt="dress image 1">
          <img src="{{ MEDIA_URL }}image2.webp" class="img-fluid mb-3" alt="dress image 2">
        </div>
        <div class="col-lg-4 col-md-6 mb-4">  
          <img src="{{ MEDIA_URL }}image8.webp" class="img-fluid mb-3" alt="dress image 8">
          <img src="{{ MEDIA_URL }}image6.webp" class="img-fluid mb-3" alt="dress image 6">
        </div>
    </div>
</div>

{% endblock %}
