{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 my-auto text-center bg-color">
                <div class="my-4">
                    <h1>
                        <a href="" class="shop-now-button btn btn-sm rounded-lg py-2">Shop Now</a>
                    </h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}