html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
}

video {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  }

header {
    background-color: white;
}
.shop-now-container {
    position: absolute;
    top: 75vh;
    left: 47vw;
}

.shop-now-button {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-page-container {
    position: relative;
    overflow: hidden;

}

.product-header {
    justify-content: space-between;
}

.product-detail-img{
    padding-top: 120px;
}

.product-detail-description{
    position: relative;
    bottom: 210px;
    left: 0;
}

/* .overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
} */

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .product-container {
        padding-top: 155px;
    }

    body {
        height: calc(100vh - 155px);
    }
}