html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
}

video {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  }

header {
    background-color: white;
}
.shop-now-container {
    position: absolute;
    top: 75vh;
    left: 47vw;
}

.shop-now-button {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-page-container {
    position: relative;
    overflow: hidden;

}

.product-header {
    justify-content: space-between;
}

.product-detail-img{
    padding-top: 120px;
}

.product-detail-description{
    position: relative;
    bottom: 210px;
    left: 0;
}

.btt-button {
    height: 45px;
    width: 45px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
    color: black;
}

.btn-border-black {
    background: white;
    border: 2px solid black;
    color: black;
}
/* 
.bag-pop-up-wrapper {
    height: 100vh;
} */


/* 
a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
} */


/* .overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
} */
.header-container {
    padding-top: 100px;
}

.toast { 
    max-width: 500px;
    height: 100vh;
}

.message-container .toast.show{
    z-index: 999999999;
}

.message-container .toast {
    max-width: 500px;
    position: fixed;
    top: 0px;
    right: 0px;
    background: white;
    width: 35vw;
    height: 100vh;
}

.message-container-info .toast.show{
    position: fixed;
    top: 5.125rem;
    right: 0.9375rem;
    z-index: 9999;
    height: auto!important;
    max-width: 350px;
}



/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .product-container {
        padding-top: 155px;
    }

    body {
        height: calc(100vh - 155px);
    }
}