{% load static %}
<div class="mobile-nav-side d-sm-block d-mg-none d-lg-none">
  <nav class="mobile-nav-container">
    <ul class="mobile-nav-links">
      <li class="mobile-nav-link-items"><a href="{% url 'products' %}?sale=sale" class="dropdown-item">Sale</a></li>
      <li class="mobile-nav-link-items"><a href="{% url 'products' %}" class="dropdown-item">Shop All</a></li>
      <h2>Shop Collections</h2>
      <li class="mobile-nav-link-items"><a href="{% url 'products' %}?collection=crop_meadow" class="dropdown-item">Crop Meadow</a></li>
      <li class="mobile-nav-link-items"><a href="{% url 'products' %}?collection=bloom_spring" class="dropdown-item">Bloom Spring</a></li>
      <li class="mobile-nav-link-items"><a href="{% url 'products' %}?collection=beach_gaze" class="dropdown-item">Beach Gaze</a></li>
      <li class="mobile-nav-link-items"><a href="{% url 'products' %}?collection=eden_balcony" class="dropdown-item">Eden Balcony</a></li>
      <li class="mobile-nav-link-items"><a href="{% url 'products' %}?collection=shell_bay" class="dropdown-item">Shell Bay</a></li>
      <h2>Account</h2>
      <li class="mobile-nav-link-items">
      {% if request.user.is_authenticated %}
      {% if request.user.is_superuser %}
      <a class="dropdown-item" href="{% url 'add_product' %}">Product Management <span class="sr-only">(current)</span></a>
      {% endif %}
      <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
      <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
      {% else %}
      <a class="dropdown-item" href="{% url 'account_signup' %}">Register</a>
      <a class="dropdown-item" href="{% url 'account_login' %}">Login</a>
      {% endif %}
      <a class="nav-link href="{% url 'contact' %}">Contact</a>
    </ul>
  </nav>
</div>

