{% load static %}

<nav class="navbar navbar-expand-lg d-none d-xl-block"> 
    <div class="" id="product-nav">
      <div class="navbar-nav">
        <a class="nav-link" href="{% url 'products' %}?sale=sale">Sale</a>
        <a class="nav-link" href="{% url 'products' %}">Shop</a>
        <div class="nav-link dropdown" href="#">
          <a href="#" data-toggle="dropdown" aria-haspopup="true" id="collection-link" aria-expanded="false">Collections</a>
            <div class="dropdown-menu" aria-labelledby="collection-link">
              <a href="{% url 'products' %}?collection=crop_meadow" class="dropdown-item">Crop Meadow</a>
              <a href="{% url 'products' %}?collection=bloom_spring" class="dropdown-item">Bloom Spring</a>
              <a href="{% url 'products' %}?collection=beach_gaze" class="dropdown-item">Beach Gaze</a>
              <a href="{% url 'products' %}?collection=eden_balcony" class="dropdown-item">Eden Balcony</a>
              <a href="{% url 'products' %}?collection=shell_bay" class="dropdown-item">Shell Bay</a>
            </div>
        </div>
      </div>
    </div>
  </nav>