{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% include 'includes/head.html' %}
    <title>Nothing on Earth</title>
  </head>
  <body>
    <!--navbar-->
    {% include 'includes/nav.html' %}
    <!--messages-->
    {% include 'includes/messages.html' %}

    {% block page_header %}
    {% endblock %}
    <!--Block content-->
    {% block content %}
    {% endblock %}
    <!--Footer-->
    {% include 'includes/footer.html' %}
    <!--Scripts-->
    {% block postloadjs %}
    {% include 'includes/scripts.html' %}
    {% endblock %}
  </body>
</html>