{% extends 'base.html' %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
<!-- <div class="overlay"> -->
    <div class="container-fluid ">
       <div class="col-12 col-sm-12 col-md-6 d-inline-block">
        <div class="product-detail-img">
            {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}" alt="{{ product.name }}">
                </a>
            {% endif %}
        </div>
       </div>
        <div class="col-12 col-sm-12 col-md-4 d-inline-block text-left ml-5">
            <div class="product-detail-description"> 
                <p>{{ collection.friendly_name }}</p>
                <p>{{ product.name }}</p>
                <p>€{{ product.price }}</p>
                <p>{{ product.description }}</p>
                <p>{{ product.details }}</p>
            </div>
        </div>
     </div>
    </div>
<!-- </div> -->

{% endblock %}